.herbDetails {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children vertically */
    align-items: flex-start; /* Align children to the start (left) of the container */
  }
