.speechRecognitionContainer {
    text-align: center;
  }
  
  .voiceSearchButton {
    background-color: #4285f4;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 24px;
    transition: background-color 0.3s;
    margin: 10px 10px;
  }
  
  .voiceSearchButton:hover {
    background-color: #357ae8;
  }
  
  .voiceSearchButton:disabled {
    background-color: #9aa0a6;
    cursor: not-allowed;
  }
  
  .voiceSearchButtonListening {
    background-color: #db4437;
  }
  
  .voiceSearchButtonListening:hover {
    background-color: #c5372d;
  }

  .textAreaContainer {
    text-align: center;
    width: 600px; /* Makes the width adapt to the container's parent width */
    max-width: 500px; /* Ensures the container does not exceed 500px */
    height: 50px; /* Fixed height, but you might want to make it flexible as well */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    padding: 0 10px; /* Optional: Adds some padding inside the container */
}

/* Example of a media query for smaller screens */
@media (max-width: 600px) {
    .textAreaContainer {
        height: auto; /* Makes the height adapt to its content */
        padding: 10px; /* Increases padding for better readability on small devices */
    }
}

.searchButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .searchButton:hover {
    background-color: #45a049; /* Darker Green */
  }
  /* styles.module.css */
.voiceSearchButton {
  
  background-color: #d4a373; /* Default background color */
  color: white; /* Default text color */
  /* Add other styling properties as needed */
}

.voiceSearchButtonListening {
  background-color: #ccd5ae; /* Background color when listening */
  color: white; /* Text color when listening */
  /* Add other styling properties as needed */
}
